<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>My name is Ryan Drost. I am a freelance Web Developer that lives in a Northern Suburb of Minneapolis, MN with my wife and 2 kids. When I am not developing I enjoy wood working and playing almost any sport. I would love the opportunity to make your website dream a reality.</p>
            </div>
            <div class="col-lg-4">
                <p>I have 9+ years of development experience in various industries and technologies. I work with .NET, Ruby on Rails, Javascript (ReactJS, Angular and VueJS), AWS, Azure and many other technologies! If interested send me a message below!</p>
            </div>
        </div>
    </div>
</section>